<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SampleProjectFour copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SampleProjectFour.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SampleProjectFourIntegrationTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SampleProjectFourUnitTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4C0F27DE15D94B7F008FC906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CB7B78515D594A4007C853B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CB7B7AA15D596A3007C853B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CB7B80215D946AB007C853B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
